div.z
{
	float:left;
}
	div.d1
	{
		float:left;
}

h5.h5
{
	position:relative;
	top:20px;
	left:215px;
	margin-left:0px;
	
}
h4.h51
{
	position:relative;
	top:100px;
	left:215px;
	
}

.q
{
	list-style-type:none;
	
		
}
li.b a{
	color:black;
	font-size:12px;
	display:block;
	text-decoration:none;
	width:0;
	
	padding:0px 3px 3px 3px;
		
}

.top
{
background-color:black;
height:40px;
}

.t
{
list-style-type:none;
margin:0px;
}

li.na
{
	float:left;
}
img.logo
{
	
	width:20px;
	clear:left;
position:relative;
right:600px;
top:5px;
}
input[type=text]
{
background-color:#222;
background-image: url('585e4ae1cb11b227491c3393.png');
position:relative;
left:200px;
bottom:20px;
padding:2px;
border: 2px solid black;
 box-sizing: border-box;
width:15%;
}
	
li a{
	color:white;
	padding :9px 30px;
	text-decoration:none;
	text-align:center;
	display:block;
	font-size:16px;
	margin-left:15px;
	position:relative;
	left:200px;
	
}
li a:hover
{
	color:gray;
}
.f{
float:left;
}	

